apiVersion: apps/v1
kind: Deployment
metadata:
  name: tomcat
  namespace: tomcat
spec:
  replicas: 3
  selector:
    matchLabels:
      app: tomcat
  template:
    metadata:
      labels:
        app: tomcat
    spec:
      containers:
      - name: tomcat
        image: 887329217061.dkr.ecr.us-east-2.amazonaws.com/tomcat-demo:latest
        ports:
        - containerPort: 8080

